POSTGRES_PASSWORD=change_me_strong_password
NEXTAUTH_SECRET=change_me_32_char_secret
NEXTAUTH_URL=https://www.enigmanet.org
AUTH_GITHUB_ID=your_github_oauth_app_id
AUTH_GITHUB_SECRET=your_github_oauth_app_secret
AUTH_GOOGLE_ID=
AUTH_GOOGLE_SECRET=
ENIGMA_ADMIN_TOKEN=
